.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

*.exe
*.dll
*.pdb
*.msi
*.nupkg

*.suo
*.cache
*.log
*.tmp
*.opendb
*.dbmdl
*.dbcache
*.location

*.mdf
*.ldf

packages/
!packages/repository.config

TestResults/

.env
*.usersettings